_*
data/*/raw/
data/refs/genome/
*.fa
*.fasta
*.fna
*.fq
*.fq.gz
*.log
_obs*
outputs/ananse/*_binding
outputs/ananse/*.network
outputs/rda/graph_analysis.rda
outputs/comparative/oma/hypergeometric_test
outputs/comparative/oma/OMA_precomputed
outputs/comparative/oma/_revise
*.pep
*.RData
*.Rproj
.Rproj.user
.Rhistory
